header {
  background-color:white;
  width: 100%;
  height:1cm;
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif,sans-serif;

}

body {
  /*background-image: url('Website Kleur.jfif')*/
  background-color: #a0ccda;
  margin: 0;
  
}


 .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: darkgray
}



.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.navbar a {
  text-decoration: none;
  color: black;
  
}

.navbar li {
  list-style-type: none;
  float: left;
  overflow: hidden;
  padding: 10px;
  background-color: white;
  align-content: center;
}

.navbar ul {
  width: 100%;
  background-color: white;
  
}

.navbar ::after {
  clear: both;
  content: "";
  display: table;
}

h2 {
  border: solid 3px white;
  background-color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 3%;
  text-align: center;
  font-family: arial;
  float: left;
}

.price {
  color: black;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}